*
  box-sizing: border-box
  font-family: 'IBM Plex Mono', sans-serif
body
  overflow: hidden
section
  width: 100vw
  min-height: 100vh
.container
  width: 1140px
  margin: 0 auto
a
  text-decoration: none
  color: #aaa
.button
  font-size: 24px
  border-radius: 50px
  border: 0
  &:focus
    outline: 0
//colors
$lc:  #B5FFED