@media screen and ( max-width: 1200px )
  .popup
    width: 960px
  .popup-content
    flex-direction: column
    align-items: center
    .desc
      margin-top: 50px
      width: 70%
      h4
        text-align: center
        font-size: 36px
        margin-top: 20px
    .btn-wrap
      flex-direction: column
      align-items: center !important
      a
        display: inline !important
        margin: 20px 0
        width: 400px
        display: flex
        text-align: center
@media screen and ( max-width: 992px )
  .popup
    width: 720px
@media screen and ( max-width: 768px )
  .popup
    width: 540px
@media screen and ( max-width:  576px)
  .popup
    width: 80%
  .popup-content
    padding: 0 5px
    .desc
      width: 300px
    p
      text-align: center
    h2
      margin: 0
      margin-top: 30px
      margin-bottom: 40px
      width: 70%
      align-self: flex-start
    .image-slider
      display: flex
      justify-content: space-between
      width: 300px
      height: 280px
      flex-wrap: wrap
      .main-img
        width: 300px
        height: 210px
        margin-bottom: 25px
        transition: 0.5s
      .sub-img
        width: 95px
        height: 60px
        transition: 0.5s
    .btn-wrap
      width: 90%
      a
        padding: 15px 30px
        text-align: center
        width: 100%
@media screen and ( max-width:  470px)
  .popup
    width: 95%
  .popup-content h2
    margin-top: 100px
    align-self: center