@media screen and ( max-width:  1200px)
  .work-item 
    transform: scale(0.9)
@media screen and ( max-width:  992px)
  .portfolio
    min-height: 1000px !important
  .works-wrap
    flex-direction: column
@media screen and ( max-width:  480px)
  .portfolio
    min-height: 1100px !important
  .portfolio h1
    font-size: 36px