.hero
  background-color: rgba(#323232, 0.7)
  &::after
    z-index: -1
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    // background: inherit
    // filter: blur(10px)