.navbar
  position: absolute
  height: 80px
  width: 100%
  border-top: 1px solid #B5FFED
  border-bottom: 1px solid #B5FFED
  display: flex
  transition: background 0.3s
  z-index: 10 !important
  // margin-bottom: 100px
  a
    border-radius: 50px
    transition: 0.5s
    padding: 10px 15px
    &:hover
      background-color: rgba(#fff, 0.2)
      color: #ccc
      box-shadow: 0px 0px 10px #000
.navbar-container
  display: flex
  justify-content: space-between
  align-items: center
  *
    color: #B5FFED
    font-weight: 300
    font-size: 24px
    text-shadow: 0px 0px 3px #583DFF
.nav
  display: flex
  a
    margin: 0 5px
.navbar.sticky
  position: fixed
  top: 0
  z-index: 3
  width: 100vw 
  background: #050505
.hamburger-button
  display: none