.navbar
  height: 80px
  width: 100%
  border-top: 1px solid $lc
  border-bottom: 1px solid $lc
  display: flex
  margin-bottom: 100px
.navbar-container
  display: flex
  justify-content: space-between
  align-items: center
  *
    color: $lc
    font-weight: 300
    font-size: 24px
    text-shadow: 0px 0px 3px #583DFF
.nav
  display: flex
  a
    margin: 0 20px